@import 'global';

.comoChegar {
  background: #d6edff;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;

  @include responsive(tablet) {
    padding: 40px 10px;
  }

  &__titulo {
    font-size: 46px;
    color: #153f91;
    margin-bottom: 2px;

    @include responsive(tablet) {
      font-size: 32px;
    }
  }

  &__subtitulo {
    font-size: 20px;
    color: #333;
    margin-bottom: 70px;

    @include responsive(tablet) {
      font-size: 16px;
    }
  }

  &__rei {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

    @include responsive(tablet) {

      gap: 20px;
    }
  }

  &__mapa iframe {
    width: 534px;
    height: 486px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px $shadow-light;
    margin-bottom: 104px;
  }

  &__infoCard {
    background: #1b4b94;
    color: $white;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 8px 16px $shadow-medium;
    width: 648px;
    height: 600px;
    margin-bottom: 87px;
  
    h3 {
      font-size: 34px;
      margin-bottom: 5px;
    }
    header {
      text-align: center;
    }
    header p {
      font-size: 22px;
      margin: 5px 0px 40px 0px;
    }

    strong {
      font-weight: bold;
    }

    section {
      display: flex;
      font-size: 17px;
      text-align: center;
      gap: 20px;
    }
    .lado_esquerdo {
      margin-left: 30px;
    }
    .lado_direito {
      margin-top: 10px;
    }
  }
  .parte_inferior {
    margin-top: 50px;
  }
  .semantico {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .semantico2 {
    font-size: 16px;
    font-weight: 500;
  }

  &__formulario {
    background: $white;
    padding: 30px 20px;
    width: 534px;
    height: 920px;
    border-radius: 8px;
    box-shadow: 0 8px 16px $shadow-light;
    text-align: left;

    h4 {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 700;

      span {
        color: #ff6b00;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input, select, option {
        padding: 7px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 1rem;
      }

      button {
        margin-top: 10px;
        background-color: #E05A2B;
        color: $white;
        border: none;
        padding: 12px;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: #e55f00;
        }
      }
    }
  }

  &__beneficios {
    background: $white;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px $shadow-light;
    text-align: left;
    height: 410px;

    h4 {
      font-size: 28px;
      margin-bottom: 27px;
      font-weight: bold;
      color: #153f91;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 40px;
        font-size: 18px;
        display: flex;
        align-items: center;
        font-weight: 700;

        &::before {
          content: '✅';
          margin-right: 10px;
        }
      }
    }
  }
}
