@import 'global';

.Instituto {
  text-align: center;
  margin: 60px 0;
  padding: 0 20px;

  @include responsive(tablet) {
    margin: 40px 0;
  }
}

.Instituto h1 {
  color: $primary-color;
  padding: 40px 0px 15px 0px;
  font-size: 54px;
  font-weight: bold;

  @include responsive(tablet) {
    font-size: 36px;
  }
}

.Instituto p {
  font-size: 26px;
  font-weight: 600;
  margin: 0 auto;
  max-width: 800px;

  @include responsive(tablet) {
    font-size: 18px;
    margin: 0 20px;
  }
}
